.dp{
  height: 100%;

  width:100%;
}
.dp-content{
  height: 100%;
  width:100%;
}
#myCanvas {
  display: block;
}

body{
  height:100vh;
  overflow:hidden;

}
.element::-webkit-scrollbar { width: 0 !important }
